/*
Created on : Mar 21, 2016, 3:20:16 PM
Author     : Kiril Kirkov
Gitgub     : https://github.com/kirilkirkov
*/
html, body { height: 100%;}
body { color:#6b6b6b; font-size: 13px;
    font-family: "Kozuka Gothic PR6N";}
#wrapper { min-height: 100%; position: relative;}
#content {padding-bottom:30px; /*background: url(../imgs/background-pattern.png) repeat;*/}
h1 {font-size:30px; }
/*nav.navbar, div.left-side, h1 {text-transform: uppercase; }*/
input.form-control, textarea.form-control {border:1px solid #dadada; border-radius: 0; box-shadow:none;}
.login-container{    position: relative;    margin: auto;    padding: 20px 40px 40px;    text-align: center; background: #fff; border-radius: 5px !important; width: 50%;  }
#output{    position: absolute;    width: 300px;    top: -75px;    left: 0;    color: #fff;}
#output.alert-success{    background: rgb(25, 204, 25);}
#output.alert-danger{    background: rgb(228, 105, 105);}
.login-container::before,.login-container::after{    content: "";    position: absolute;    width: 100%;height: 100%;    top: 3.5px;left: 0;    background: #fff;    z-index: -1;    -webkit-transform: rotateZ(4deg);    -moz-transform: rotateZ(4deg);    -ms-transform: rotateZ(4deg);    border: 1px solid #ccc; display: none}
.login-container::after{    top: 5px;    z-index: -2;    -webkit-transform: rotateZ(-2deg);     -moz-transform: rotateZ(-2deg);      -ms-transform: rotateZ(-2deg);}
.avatar{    width: 100px;height: 100px;    margin: 10px auto 30px;    border-radius: 100%;    border: 2px solid #aaa;    background-size: cover;}
.form-box input{    width: 100%;    padding: 10px;    text-align: center;    height:60px;    border: 1px solid #ccc !important;    background: #fafafa;    transition:0.2s ease-in-out;}
.form-box input:focus{    outline: 0;    background: #eee;}
.form-box input[type="text"]{    border-radius: 5px 5px 0 0;    text-transform: lowercase;}
.form-box input[type="password"]{    border-radius: 0 0 5px 5px;    border-top: 0;}
.form-box button.login{    margin-top:15px;    padding: 10px 20px; background-color: #9cb72a;}
.animated {  -webkit-animation-duration: 1s;  animation-duration: 1s;  -webkit-animation-fill-mode: both;  animation-fill-mode: both;}
.theSliderDescrption {display:none;}
.more-info-purchase > tbody > tr > td, .more-info-purchase > tbody > tr > th, .more-info-purchase > tfoot > tr > td, .more-info-purchase > tfoot > tr > th, .more-info-purchase > thead > tr > td, .more-info-purchase > thead > tr > th {border-top: none; border-bottom: 1px solid #ddd;}
.cookie-law-themes { padding-top: 20px; padding-bottom: 20px; margin-left: 10px; margin-right: 10px;}
.cookie-law-themes a .theme {margin-bottom:10px;}
.cookie-law-themes a .ok {display:none; position: absolute; width:40px; top:0; left:0;}
.show-menu {display: none;}
#show-xs-nav { border: 1px solid #666;  padding: 5px; text-decoration: none; color: #666;  font-size: 13px; text-align: center; margin-top: 10px; border-radius: 5px;}
#nav-categories, #show-xs-nav .hidde-sp {display: none;}
.confirm-result {position:absolute; bottom:0; right:0;}
#calc-board {width:200px; margin:0 auto;}
#calc-board a {margin-bottom:5px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3; background: #ffffff;  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%);  background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); color:#333;}
.other-img {display: inline-block; position:relative;}
.other-img a {position:absolute; right:0; top:0; background-color: #fff; color:red;}
.selected-template {height: 50px; position: absolute; left:25px; top:10px;}
.header-img {float: left;height: 40px;margin-right: 10px;margin-top: -10px;}
.divLangs { padding:10px; margin-bottom: 10px;}
#new-style {border-radius: 0;}
#categorieEditor {position: absolute; display: none; width:230px;}
#categorieEditor input, #categorieEditor button {float: left;}
#categorieEditor input {width: 150px;}
#categorieEditor .yesSaveEdit {display: none;}
#categorieEditor button {width:39px;}
#categorieSubEdit {display: none; position: absolute;}
#categorieSubEdit button {width:200px;}
.locale-container {display: none;}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {  -webkit-animation-name: fadeInUp;  animation-name: fadeInUp;}
nav.navbar {z-index: 55;}
nav.navbar a { color:#fff;}
nav.navbar li a:hover, nav.navbar li a:focus, nav.navbar li a:active {background-color: transparent;}
.navbar-nav li a i {margin-right: 7px;}
nav.navbar ul.dropdown-menu li {margin-bottom: 3px;}
nav.navbar ul.dropdown-menu li a { color:#333;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {background-color: transparent;}
div.left-side { border-right:1px solid #e7e7e7; padding:0; bottom: 0;  display: block;left: 0; overflow: auto;position: absolute;    top: 51px; overflow-x: hidden;}
div.left-side ul.sidebar-menu {list-style: none; margin:0 0 80px;padding:0;}
div.left-side ul.sidebar-menu li {margin: 0; padding: 0; position: relative; border-bottom: 1px solid #e7e7e7;cursor: pointer}
div.left-side ul.sidebar-menu li a {display: block;   border-left: 3px solid transparent;  color: #000;    padding: 12px 5px 12px 15px; }
div.left-side ul.sidebar-menu li a i {margin-right: 7px;}
div.left-side ul.sidebar-menu li a:hover, div.left-side ul.sidebar-menu li a.active { background-color: #eeeeee; text-decoration: none; }
div.left-side ul.sidebar-menu li.header {  color: #4b646f; padding: 12px 5px 12px 15px; }
.sidebar-menu .sidebar-search {padding: 15px !important;}
div.left-side span.alert-admin {padding-left:10px; padding-right: 10px; padding-bottom: 10px; display: inline-block;}
.custab{ border: 1px solid #ccc;  padding: 5px; box-shadow: 3px 3px 2px #ccc; transition: 0.5s; }
.custab:hover{ box-shadow: 3px 3px 0px transparent; transition: 0.5s;}
.relative {position:relative;}
.settings {position: absolute; width:320px;  z-index: 1000; display: none; color:#222d32 !important;}
.settings .panel-body a:hover, .settings .panel-body a:focus {background-color: #2989d8;}
.settings #pass_result {display:none;}
ul.list-none {list-style:none;}
.red {color:red}
.green {color:green}
div.well {margin-top:15px;}
h3.title {word-break: break-all;overflow: hidden;}
.find {margin-bottom:36px;}
a.article-image img {height:250px;}
div.article.invisible-status {opacity:0.4;}
span.dropdown-toggle {cursor: pointer;}
.url {overflow: hidden;}
.url a {word-break: break-all;}
.description-article {max-height: 140px; overflow:hidden; margin-bottom:10px;}
#categories a.btn-xs {margin-bottom: 15px;}
footer {padding: 20px 0; color:#333; text-align: center; background-color: #f8f8f8; border-top:1px solid #e7e7e7; width:100%;height:60px;position:absolute;bottom:0;left:0;}
footer a {color:#333; text-decoration:underline;}
.orders-settings { margin-top: -60px; font-size:20px; color:#6b6b6b;}
.orders-settings span {display: block;}
.orders-settings i {margin-left: 24px;}
.home-page .fast-view-panel {height: 130px;}
.home-page .panel-green {border-color: #5cb85c;}
.home-page .panel-green .panel-heading { background-color: #5cb85c; border-color: #5cb85c; color: #fff;}
.home-page .panel-yellow {  border-color: #f0ad4e;}
.home-page .panel-yellow .panel-heading {  background-color: #f0ad4e;    border-color: #f0ad4e;    color: #fff;}
.home-page .panel-red {  border-color: #d9534f;}
.home-page .panel-red .panel-heading {   background-color: #d9534f;  border-color: #d9534f;  color: #fff;}
.home-page .huge {font-size: 40px;}
.home-page .panel {font-size:14px;}
a.orders-referral {display:block; word-break:break-all;}
.bordered-group {border:1px solid #e7e7e7; padding: 5px;}
.loadUploadOthers {display: none;}
.others-images-container {margin-bottom: 5px;}
#positionEditor {position: absolute; display: none; width:230px;}
#positionEditor input, #positionEditor button {float: left;}
#positionEditor input {width: 150px;}
#positionEditor .yesSavePosition {display: none;}
#positionEditor button {width:39px;}


.preview-container {
    display: block;
    width: 320px;
    height: 640px;
    background-image: url(../imgs/iphone.png);
    background-size: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 81px;
    padding-bottom: 78px;
    top: 7%;
}

.preview-container iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.color-view {
    display: block;
    width: 100%;
    height: 40px;
}

.result-done {
    padding-top: 20px;
}

.i-circle {
    width : 24px !important;
    height : 24px;
    border-radius: 12px;
    color: #F0F0F0;
    padding-top: 5px;
}

.i-home {
    background-color: #31ac4a;
}

.i-branch-m {
    background-color: #8ec326;
}

.i-design-s {
    background-color: #f08300;
}

.i-topmenu-s {
    background-color: #d80b25;
}

.i-basic-info {
    background-color: #fa3939;
}
.i-product-menu {
    background-color: #64006b ;
}
.i-coupon {
    background-color: #f39c11;
}
.i-news {
    background-color: #1bbc9b;
}
.i-survey {
    background-color: #2dcc70;
}
.i-push-notify {
    background-color: #4b5cff ;
}
.i-auto-push {
    background-color: #dd53ff;
}

.i-stamp-info {
    background-color: #ff4d62;
}

.i-user-info {
    background-color: #35363a;
}

.i-analysis {
    background-color: #35363a;
}

.i-management {
    background-color: #35363a;
}

.i-help {
    background-color: #35363a;
}

.submenu>li{
    list-style: none;
    
}
.submenu>li>a {
    /*padding-left: 40px !important;*/
}

.submenu {
    padding-left: 0;
}

.margin-auto {
    margin: auto;
}
.mobile-content {
    position: fixed;
    right: -30px;
    z-index: 0;
}
.form-title {
    padding: 10px;
    background-color: whitesmoke;
}
.mobile-hide-button {
    position: fixed;
    top: 43%;
    color: white;
    right: 0px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    background-color: #969595;
    padding: 20px 12px 20px 15px;
    font-size: 18px;
    cursor: pointer;
}
.mobile-show-button {
    position: fixed;
    top: 43%;
    color: white;
    right: 0px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    background-color: #f93816;
    padding: 20px 12px 20px 15px;
    font-size: 18px;
    cursor: pointer;
}
.mobile-preview-close {
    margin-bottom: 10px;
}
.required-mark {
    color: white;
    background-color: #f22613;
    padding: 5px 10px 7px 10px;
    font-size: 13px;
    border-radius: 5px !important;
}
.alert-close-button {
    float: right;
    color: #c7c7c7;
}
.validate-area {
    background-color: #fad5d5;
}
.validate-description{
    margin-top: 10px;
    color: #FF0000;
    font-weight: bold;
    display: inline-block;
}
.none-padding{
    padding: 0px !important;
}
.page-info{
    text-indent: 5px;
    margin-top: 15px;
}
.table-oper-btn{
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 3px !important;
}
.arrow-color {
    color: #89c4f4;
}
.td-valign {
    vertical-align: middle !important;
}
.padding-10 {
    padding: 10px;
}
.search-btn {
    padding: 10px 25px;
    background-color: #484646;
    border-radius: 3px !important;
    color: white;
}
.help-tab-gray {
    color: white;
    background-color: #6f6b6b;
    padding: 3px 10px;
    border-radius: 3px !important;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}
.help-tab-red {
    color: white;
    background-color: #ea391a;
    padding: 3px 10px;
    border-radius: 3px !important;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}
.order-input {
    width: 70px;
    height: 30px;
    /*font-size: 20px;*/
    text-align: right;
    padding-right: 10px;
}

.f-right {
    float: right !important;
}
.bulk-btn {
    color: #fff !important;
}
.dropdown-right-bulk {
    float: right !important;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #3d9e98;
}

/*image preview*/
.preview {
    cursor: pointer;
    height: 120px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px !important;
}


/*color selection*/
.coloritem {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 3px;
    display: inline-block;
    border-radius: 52px !important;
    cursor: pointer;
}


.coloritem.selected{
    border: 1px solid black;
}

.coloritem.selected:after{
    border-color: #31363a transparent;
}

div.color-line:first-item{
    margin-bottom: 10px;
}

/*selected menu background color*/
.orange-menu {
    background-color: orange !important;
    color: #fff !important;
}
.orange-menu-candidate {
    background-color: #fff7ed !important;
    color: #111 !important;
}
.orange-menu-candidate:hover {
    background-color: orange !important;
    color: #fff !important;
}
.red-menu {
    background-color: #d80b25 !important;
    color: #fff !important;
}
.red-menu-candidate {
    background-color: #ffebee !important;
    color: #111 !important;
}
.red-menu-candidate:hover {
    background-color: #d80b25 !important;
    color: #fff !important;
}
.grape-menu {
    background-color: #64006b !important;
    color: #fff !important;
}
.grape-menu-candidate {
    background-color: #fef4ff !important;
    color: #111 !important;
}
.grape-menu-candidate:hover {
    background-color: #64006b !important;
    color: #fff !important;
}
.basic-menu {
    background-color: #fa3939 !important;
    color: #fff !important;
}
.basic-menu-candidate {
    background-color: #ffebeb !important;
    color: #111 !important;
}
.basic-menu-candidate:hover {
    background-color: #fa3939 !important;
    color: #fff !important;
}
.colpick .colpick_field_letter {
    width: 20px !important;
}
.coupon-menu{
    background-color: #f39c11 !important;
    color: #fff !important;
}
.coupon-menu-candidate{
    background-color: #fcf8e3 !important;
    color: #111 !important;
}
.coupon-menu-candidate:hover{
    background-color: #f39c11 !important;
    color: #fff !important;
}
.event-menu{
    background-color: #1bbc9b !important;
    color: #fff !important;
}
.event-menu-candidate{
    background-color: #e5fff0 !important;
    color: #111 !important;
}
.event-menu-candidate:hover{
    background-color: #1bbc9b !important;
    color: #fff !important;
}
.survey-menu {
    background-color: #2dcc70 !important;
    color: #fff !important;
}
.survey-menu-candidate {
    background-color: #ecffea !important;
    color: #111 !important;
}
.survey-menu-candidate:hover {
    background-color: #2dcc70 !important;
    color: #fff !important;
}
.push-menu {
    background-color:#4b5cff !important;
    color: #fff !important;
}
.push-menu-candidate {
    background-color: #dde0ff !important;
    color: #111 !important;
}
.push-menu-candidate:hover {
    background-color:#4b5cff !important;
    color: #fff !important;
}
.auto-push-menu {
    background-color:#dd53ff !important;
    color: #fff !important;
}
.auto-push-menu-candidate {
    background-color: #fae4ff !important;
    color: #111 !important;
}
.auto-push-menu-candidate:hover {
    background-color:#dd53ff !important;
    color: #fff !important;
}
.store-stamp-menu {
    background-color:#ff4d62 !important;
    color: #fff !important;
}
.store-stamp-menu-candidate {
    background-color: #ffe9ec !important;
    color: #111 !important;
}
.store-stamp-menu-candidate:hover {
    background-color:#ff4d62 !important;
    color: #fff !important;
}
.other-menu {
    background-color: #666 !important;
    color: #fff !important;
}
.other-menu-candidate {
    background-color: #efefef !important;
    color: #111 !important;
}
.other-menu-candidate:hover {
    background-color: #666 !important;
    color: #fff !important;
}
.colpick {
    height: 180px !important;
}

div.checkbox {
    cursor: pointer;
}
div.checkbox>div.check-icon {
    color: #6b6b6b;
    background-color: #eee;
    border: 1px solid #a6a6a6;

    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 3px !important;
    padding: 3px;
}
div.checkbox.selected>div.check-icon>i {
    display: block !important;
}
.bulk-content{
    display: block;
    overflow: auto;
    float: right;
}
.clear-both{
    clear: both !important;
}

button.photo-selection-button {
    background-color: #62ab62;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 5px !important;
}

img.photo-item-img {
    height: 120px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px !important;
}

.photo-item-remove {
    border-radius: 3px !important;
}

.photo-item-remove>i {
    color: white;
}


/*form validation error styling*/
div.error {
    color: orangered;
    font-weight: bold;
}

div.has-error {
    background-color: rosybrown;
}
.close {
    display: none !important;
}
.to-top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding: 10px;
    border-radius: 30px !important;
    color: #9bb72a;
    background-color: #ffffff;
    z-index: 20000;
}
.to-top:hover {
    opacity: 0.5;
    color: #fff;
    background-color: #9bb72a;
}

.to-top i {
    padding: 10px;
}

.video-item>input {
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px !important;
    width: 45%;
    display: inline-block
}

button.video-add-button {
    background-color: #62ab62;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 5px !important;
    margin-top: 10px;
}

.video-item-remove {
    border-radius: 3px !important;
}

.video-item-remove>i {
    color: white;
}
.login-title {
    text-align: center;
    padding: 25px;
    font-size: 45px;
}
.b-margin-20 {
    margin-bottom: 20px;
}
.padding-0{
    padding: 0px !important;
}
.home-menu {
    background-color: #2dcc70;
}
.home-menu a:hover {
    color: #fff !important;
    background-color: #2dcc70 !important;
}
.panel-title {
    background-color: #e6e6e6;
    padding-top:13px;
    padding-bottom:13px;
    padding-left: 26px;
    color: #383838;
}
.home-page .panel-heading {
    padding: 0px !important;
}
.home-page .panel-flat {
    border: 1px solid #cccccc;
}
table th {
    text-align: center !important;
}
.no-sub-menu{
    padding: 12px 5px 12px 12px !important;
}
.layout-content {
    z-index: 9;
}
.navbar {
    margin-bottom: 0px !important;
}
.site-logo-img{
    margin-top: 20px;
    width: 70%;
    margin-left: 30px;
}
#navbar-mobile{
    background-color: #fff;
    height: 70px !important;
    padding-left: 0px !important;
}
.site-logo-content {
    border-right: 1px solid #cecece;
    height: 70px;
    width: 260px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}

.site-pc-content {
    padding-top: 17px;
    padding-left: 25px;
    border-right: 1px solid #cecece;
    height: 70px;
    padding-right: 20px;
}
.site-mobile-content {
    padding-top: 12px;
    padding-left: 30px;
    border-right: 1px solid #cecece;
    height: 70px;
    padding-right: 30px;
}
.site-text-content {
    padding-top: 24px;
    padding-left: 30px;
    border-right: 1px solid #cecece;
    height: 70px;
    padding-right: 30px;
}
.site-mobile-content i {
    font-size: 50px;
}
.nav.navbar-nav {
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    
}
.site-shop-content {
    padding-top: 25px;
    padding-left: 30px;
    border-right: 1px solid #cecece;
    height: 70px;
    padding-right: 30px;
}
.site-user-content {
    padding-top: 25px;
    padding-left: 30px;
    height: 70px;
    padding-right: 30px;
}

.sidebar {
    background-color: #666666 !important;
}
.hide-menu-btn, .show-menu-btn {
    background-color: #999999;
    width: 225px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 5px 22px !important;
    min-height: 20px !important;
    border-radius: 5px !important;
    /*font-size: 12px;*/
}
.sidebar-xs .sidebar-main .navigation>li>a.hide-menu-btn, .show-menu-btn {
    width: 30px;
    padding: 5px 0px !important;
    margin: auto;
}
li [class^="fa-"], li [class^="glyphicon-"], li [class^="icon-"], li [class*=" fa-"], li [class*=" glyphicon-"], li [class*=" icon-"] {
    width: auto !important;
}
.navigation li {
    color: #ffffff;
}
.sub-menu-parent{
    background-color: #ebf1d4 !important;
}
.sub-menu-parent li {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #383838 !important;
}
.sub-menu-parent li a {
    color: #383838 !important;
}
.navigation li .sub-menu-parent a:hover {
    background-color: #9bb72a !important;
    color: #ffffff !important;
}
.navigation>li>a:hover{
    background-color: #333333 !important;
    color: #ffffff;
}
.navigation>li.active>a{
     background-color: #333333 !important;
     color: #ffffff;
 }
.user-info-dropdown {
    margin-top: 13px !important;
}
.user-info-dropdown:after, .user-info-dropdown:before {
    right: 42px !important;
    left: auto !important;
}
.navbar-right .dropdown-menu {
    right: -30px !important;
    top: 30px;
}
.user-icon {
    color: #383838 !important;
    font-size: 30px !important;
}
.color-black {
    color: #000 !important;
}
.user-info-dropdown li a:hover {
    background-color: #9bb72a !important;
    color: #fff !important;
}
.align-left {
    text-align: left;
}
.login-btn {
    width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 50px !important;
    border-radius: 5px !important;
}
.reset-password {
    margin-top: 20px;
    display: block;
    color: #000;
    text-decoration: underline;
}
.login-input-label {
    font-weight: bold;
    font-size: 25px;
}
.left-menu-content{
    margin-top: 10px;
    font-size: 16px;
}
.active-page {
    background-color: #9bb72a !important;
    color: #ffffff !important;
}
.bulk-btn-menu {
    /* width: 150px !important; */
    display:inline;
}
/*Home*/
.home-page, .panel-title, .panel-heading {
    background-color: #f5f5f5;
}
.panel-title {
    font-size: 24px;
    color:#383838;
    font-weight: bold;
}
.panel-sub-title {
    font-size: 20px;
    background-color: #fff;
    width: 100%;
    display: block;
    padding: 15px;
}
.panel-sub {
    padding: 10px 0px;
    margin-top: 20px;
}
.portlet.box.grey {
     border: none;
}
.search-action {
    padding: 15px 0px;
}
.search-action-content {
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search-condition-content {
    background-color: #fff;
}
.condition-content {
    background-color: #f5f5f5 !important;
}
.condition-detail {
    margin-top: 30px;
    line-height: 20px;
    font-size: 15px;
}

.left-label{
    font-family: Kozuka Gothic PR6N;
   
    font-size: 14px;
    
}

.help-area {
    position: relative;
    background-color: rgb(235,241,212);
    border:1px solid rgb(235,241,212);
    font-size:14px;
    padding: 15px;
    color:rgb(51,51,51);
}
.help-area:before {
    position: absolute;
    top: -7px;
    left: 60px;
    display: inline-block !important;
    border-right: 10px solid transparent;
    border-bottom: 6px solid #d6ecf400;
    border-left: 10px solid transparent;
    border-bottom-color: rgb(235,241,212);
    content: '';
}

.help-down-area {
    position: relative;
    background-color: rgb(235,241,212);
    border:1px solid rgb(235,241,212);
    font-size:14px;
    padding: 15px;
    color:rgb(51,51,51);
}
.help-down-area:before {
    position: absolute;
    bottom: -9px;
    left: 60px;
    display: inline-block !important;
    border-right: 10px solid #f5272700;
    border-top: 10px solid #ebf1d4;
    border-left: 10px solid #ec101000;
    border-bottom-color: rgb(235,241,212);
    content: '';
}
.table>tbody>tr>td{
    vertical-align:top;
}
.breadcrumb>li+li:before {
    content: "";
    /* content: "\f104"; */
    padding: 0 5px;
    color: #333;
}
.breadcrumb-size {
    font-size: 15px !important;
}
.page-maintitle{
    font-size:22px;
    font-weight: bold;
    color:rgb(56,56,56);
}
.page-subtitle{
    font-size:14px;
    font-weight: bold;
    color:rgb(56,56,56);
}
.breadcrumb-1{
    color:rgb(0,113,188) !important;
}
.breadcrumb-2{
    font-size:12px;
    font-weight:bold;
    color:rgb(56,56,56);
}


.page-header-default{
    margin-bottom: 0px;
}
.page-title {
padding-top:10px;
padding-bottom:10px;

}
.breadcrumb-line{
border:0px;
}
.panel{
border:0px;
background-color: #f5f5f5;
}
.panel-heading{
font-size:16px;
padding-top:10px;
padding-bottom:0px;;
font-weight:bold;
}
.preview-container {
display: block;
width: 300px;
height: 610px;
bottom: 0px;
right: 0px;
z-index: 100;
position:fixed;
background-size: 100%;
background-repeat:no-repeat;
padding-left: 17px;
padding-right: 15px;
padding-top: 39px;
padding-bottom: 45px;
}

.preview-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}
.mobile-content{
    z-index: 1000;
}
.dropdown-menu{
    z-index:1001;
}
.page-header-content
{
    background-color: #f5f5f5;
}
.table{
   background-color: #FFF;
}
.cms-breadcrumb{
    padding-left:20px; padding-right:20px; background-color: #f5f5f5;
}
.navbar {
    padding-right: 0px;
}
.panel-flat>.panel-heading+.panel-body{
    padding-top: 20px;
    background-color:#FFF;
    min-height:100px;
}

.common-btn-green-big {
    background-color: #9bb72a;
    border: 1px solid #748920;
    /* width: 420px; */
}
.common-btn-green-medium {
    background-color: #9bb72a;
    border: 1px solid #748920;
    /* width: 250px; */
}

.common-btn-red-medium {
    background-color: #ff6745;
    border: 1px solid #bf4d34;
    /* width: 250px; */
}
.common-btn-green-small {
    background-color: #9bb72a;
    border: 1px solid #748920;
    /* width: 200px; */
}
.common-btn-red-small {
    background-color: #ff6745;
    border: 1px solid #bf4d34;
    /* width: 200px; */
}
.common-btn-search {
    background-color: #666666;
    border: 1px solid #333333;
    /* width: 150px; */
}
.custom-btn {
    border-radius: 4px !important;
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
    height: 44px;
    padding: 10px 15px 10px 18px;
    /* margin-bottom: 20px; */
}
.common-btn-operation-search {
    background-color: #596fb5;
    width: 60px;
}
.common-btn-operation-mail {
    background-color: #22a7f0;
    width: 60px;
}
.common-btn-operation-trash {
    background-color: #d44c5f;
    width: 60px;
}
.common-btn-operation-edit {
    background-color: #596fb5;
    width: 60px;
}
.custom-btn:hover {
    opacity: 0.9;
    color: #ffffff;
}
.choice span {
    border: 1px solid #d0d0d0;
}
.choice span:after {
    border: 6px solid #9bb72a;
    background-color: #9bb72a;
    top: 2px;
    left: 2px;
}
.checker span {
    color: #9bb72a !important;
    border: 2px solid #d0d0d0;
}
.color-plus-button {
    color: #999999;
    background: white;
    border-radius: 12px;
    border: 1px solid #999999;
    font-size: 24px;
    width: 25px;
    height: 25px;
    text-align: center;
}
.hide-origin-color-picker {
    width: 0px;
    opacity: 0;
}
.perpage-select {
    border-radius: 4px;
    padding: 5px 15px;
    height: 40px;
    cursor: pointer;
}
.anytime-datepicker, .anydate-datepicker {
    width: 20%;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
}
.date-picker-input{
    width: 20%;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}
.between {
    margin-right: 20px;
    margin-left: 20px;
    /*float: left;*/
    margin-top: 10px;
}
.dropdown-right-bulk {
    bottom: 15px;
}
.user-menu-dropdown {
    top: 5px;
    position: absolute;
    font-size: 20px;
}
.pagination-content {
    text-align: center;
    margin-top: 20px;
    height: 40px;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}
.custom-checkbox-content {
    margin-top: 5px !important;
    padding-top: 0px !important;
    height: 25px;
}
.custom-text-area {
    resize: none;
}
.custom-btn-select {
    margin-top: 10px;
    margin-bottom: 20px;
}
.padding-5 {
    padding: 5px;
}
.content-group {
    line-height: 25px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.select_year_month {
    width: 30%;
    display: inline-block;
}
.photo-comments-list .video-item select, .photo-comments-list .video-item input {
    margin-right: 10px;
}
.display-inline {
    display: inline;
}
.delivery-type-select{
    width: 50%;
    display: inline;
    height: 45px;
    margin-right: 40px;
}
.push_age_from, .push_age_to, .push_date_last_stamp_distribution_from, .push_date_last_stamp_distribution_to{
    width: 40%;
    display: inline;
    margin-right: 10px;
}
.push_age_to, .push_date_last_stamp_distribution_to {
    margin-left: 10px;
}
.from_to_datetime_input {
    float: left !important;
    width: 70% !important;
    height: 35px !important;
}
.from_to_datetime_content{
    width: 40%;
    display: inline-block;
    margin-left: 30px;
}
.from_to_datetime_content span.input-group-btn {
    width: 20px;
    display: inline;
}
.status-active{
    background-color:rgb(255,252,196);
 
}

.status-inactive{
    background-color:rgb(204,204,204);
    /* color: #fff; */

}
.auto-push-period, .auto-push-unit {
    display: inline-block;
    width: 45%;
}
.auto-push-period {
    margin-right: 25px;
}
.search-start-date, .search-end-date {
    width: 40%;
    display: inline-block;
}
.slide-from, .slide-to {
    width: 40%;
    display: inline-block;
}
.height-35{
    height: 35px;
}
/*oem*/
.edit-btn {
    background-color: #9bb72a;
    color: #fff;
    border-radius: 0px;
    cursor: pointer;
    right: -3px;
}
.edit-btn:hover {
    background-color: #fff;
    color: #9bb72a;
    border: 1px solid #9bb72a;
}
.delete-btn {
    background-color: #383838;
    color: #fff;
    border-radius: 0px;
}
.delete-btn:hover {
    background-color: #fff;
    color: #383838;
    border: 1px solid #383838;
}
.common-btn-gray-small {
    background-color: #999999;
}
.align-right {
    text-align: right;
}
.search-input {
    height: 45px;
    border: 1px solid gray;
    border-radius: 3px;
    width: 350px;
    padding-left: 10px;
    font-size: 16px;
}
.b-margin-5 {
    margin-bottom: 5px;
}
.logout-btn {
    color: #fff;
    background-color: #999;
    padding: 10px;
    margin: 10px 10px;
    display: inline-block;
    border-radius: 5px;
}
.logout-btn:hover {
    color: #999;
    background-color: #fff;
    border: 1px solid #999;
}
.navbar-inverse {
     background-color: #fff;
}
.navbar-inverse .navbar-header a {
    color: #000 !important;
}
.navbar-brand img {
    height: 30px !important;
}
.bg-search {
    background-color: #666666;
    color: #fff;
}
.create-btn {
    background-color: #ff6745;
    color: #fff;
}
.create-btn:hover {
    background-color: #fff;
    color: #ff6745;
    border: 1px solid #ff6745;
}
.dataTable thead tr {
    background-color: #e6e6e6;
}