.header-layout {
  height: 80px;
  background: white;
  border-bottom: 4px solid #830900;
  text-align: center;
}

.header-card {
  height: 50px;
  background: white;
  padding: 0px 15px;
}

.card-header-icon {
  font-size: 20px;
  padding: 14px 0px;
  text-decoration: none;
  color: black;
}

.card-header-icon:hover {
  text-decoration: none;
  color: gray;
}

.header-layout > img {
  margin: 5px 0px;
}

.menu > a {
  text-decoration: none;
}

.menu-btn {
  height: 85px;
  background: white;
  vertical-align: middle;
  text-align: center;
  padding: 1px 1px;
}

.menu-btn:hover {
  background: #f6eec6;
  color: black;
  text-decoration: none;
}

footer {
  background: #393939;
  color : white;
  padding : 15px 5px;
  text-align: center;
}

.footer {
  width: 100%;
  max-height: 60px;
}

.list-item-header-tag {
  border-radius: 3px;
  background: #74D7F2;
  padding: 1px 3px;
}

.list-item-header-title {
  margin-left: 4px;
}

.other-menu-title {
  margin-left: 4px;
}

.list-item {
  padding: 5px 5px;
  background-color: white;
  opacity: 0.8;
  cursor: pointer;
}

.list-item:hover {
  opacity: 1;
}

.other-menu {
  height: 60px;
  position: relative
}

.img-menu {
  padding: 0px;
  width: 100%;
  position: relative
}

.other-menu > span {
  display: block;
}

.vertical-center {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
.vertical-top {
  position: absolute;
  top: 5px;
}
.vertical-bottom {
  position: absolute;
  bottom: 5px;
}

.list-group {
  background-color: #e0e0e0;
  margin-bottom: 0px;
}

.list-padding {
  padding: 5px 5px 5px 5px;
}

.list-item-margin {
  margin-top: 5px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.card-header-title {
  padding: 15px 5px;
}

.card-body-pan {
  border-radius: 5px;
  background: white;
  margin: 25px 15px;
  padding: 10px 15px;
}

.card-title {
  padding: 20px 5px 30px 5px;
}

.card-body > h4 {
  padding: 0px;
  margin: 0px;
}

.cp-dash {
  padding: 15px 5px 15px 5px;
  color: #676767;
}

.cp-panel-stamp-stores {
  margin: 5px 10px;
  border: 1px solid #aeaeae;
}

.cp-pss-header{
  padding: 10px 0px;
  color: white;
  background-color: #a6a6a6;
}

.cp-pss-body {
  background-color: white;
  padding: 10px 0px;
  color: #707070;
}

.cp-pss-body > ul {
  margin: 0px;
}

.cp-stamp-pic {
  border: 1px solid #bebebe;
  margin: 15px 10px 15px 10px;
  background-color: #FCFCFC;
  padding-bottom: 4px;
}

.stamp-item {
  /*width: 100%;*/
  height: 50px;
  padding: 1px;
}

.stamp-row {
  margin: 4px 4px 4px 4px;
}

.stamp-pic {
  margin: 2px;
  background-color: #EEEEEE;
  height: 100%;
}

.stamp-img {
  padding: 10px;
  height: 50px;
}

.cp-btn{
  background-color: #8C1C1F;
  display: block;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.cp-btn:hover {
  text-decoration: none;
  opacity: 0.9;
  color: white;
}

.cp-member-pan {
  margin: 15px 0px 15px 0px;
}

.cp-member-body {
  border: 1px solid #bebebe; 
  background: white;
  padding: 10px;
  margin: 0px 10px;
}

.cp-about-header {
  background-color: #82B192;
  padding: 10px;
  color: white;
}
.cp-about-txt-body {
  color: #676767;
  padding: 10px;
}

.cp-benefit-img {
  padding: 10px;
  width: 100%;
}

.line {
  background-color: #aeaeae;
  height: 1px;
  display: block;
}

.cp-menu-bar {
  background-color: white;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.cp-menu-item {
  display: inline-block;
  float: left;
  width: 20%;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: #303030;
  padding: 8px;
  cursor: pointer;
}

.cp-menu-item:hover {
  background: #303030;
  text-decoration: none;
  color: white;
}

.top-menu-img {
  width: 88px;
  height: 84px;
}

.top-menu-full-img {
  width: 100%;
  height: 100%;
}

.photo-info-img {
  height: 100%;
  padding: 10px;
}

.photo-info-img > img {
  width: 100%;
  height: 70px;
}

.catalog-info-img {
  width: 100%;
  height: 70px;
  margin-top: 15px;
}

.photo-info-img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.video-pan {
  width: 100%;
  padding: 15px 0px;
  background: black;
  position: relative;
}

.video-pan > img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.video-info-bg {
  padding: 0px 15px;
  position: relative;
  margin-bottom: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-wrap {
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.img-play {
  width : 80px;
  height : 56px;
  font-size: 30px;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -40px;
  color: #E0E0E0;
  position: absolute;
  background: black;
  opacity: 0.8;
  border-radius: 5px;
  cursor: pointer;
}

.img-play:hover {
  opacity: 0.9;
  color: #FFFFFF;
}

.img-play > span {
  margin-top: 9px;
}

.links-item {
  padding: 10px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid gray;
  cursor: pointer;
  opacity: 0.8;
}

.links-item:hover {
  opacity: 0.9;
  text-decoration: none;
}

.product-menu-item {
  height: 60px;
}

.product-menu-body {
  text-align: left;
}

.pmi-img {
  width: 60px;
  height: 60px;
  max-width: 60px;
}

.no-padding {
  padding: 0;
}

.product-menu-detail-icon {
  height: 100%;
  text-align: right;
  padding: 18px 3px 18px 0px;
}

.product-menu-body {
  height: 100%;
}

.pmb-title {
  padding: 10px 0px 2px 0px;
}

.pm-line {
  display: block;
  opacity: 0.8;
  height: 1px;
  background-color: #aeaeae;
}

.pmdi-link {
  padding: 15px;
  text-decoration: none;
  color: black;
  opacity: 1;
  cursor: pointer;
}

.pmdi-link:hover {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}

.product-detail {
  padding: 10px;
}

.product-detail-title {
  text-align: center;
  padding: 20px 5px 15px 5px;
}

.product-detail-body {
  padding: 5px 10px 15px 10px;
}

.product-detail-img {
  text-align: center;
  padding: 5px 10px 15px 10px;
}

.product-detail-img > img {
  max-width: 100%;
}

.card-type {
  margin: 10px;
}

.coupon-title {
  text-align: center;
  padding: 1px 1px 1px 1px;
  background-color: #dddddd;
  border: 1px solid #bbbbbb;
}

.coupon-pan {
  padding: 0px 0px;
}

.coupon-discount {
  padding: 10px 0px 0px 0px;
}
.coupon-item {
  margin: 10px 5px 0px 5px;
}

.coupon-item > img {
  width: 100%;
  height: 200px;
}

.coupon-section {
  margin: 10px 5px 5px 5px;
  padding: 5px 0px;
  border: 1px solid #bbbbbb;
}

.coupon-section > p {
  margin: 0px;
}

.coupon-notice > p {
  margin: 0px;
}

.ne-public-date {
  margin: 10px 10px 0px 10px;
}